################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

.vs/
/lab2/client/.idea/*
/lab2/client/client_gis/public/favicon.svg
/lab2/client/client_gis/public/icons.svg
/lab2/client/client_gis/src/assets/*
*.log
/lab2/geoserver_data/gwc/geowebcache_2026-04-18T083617.bak
/lab2/geoserver_data/tomcat_pass.txt
/lab2/geoserver_data/gwc/diskquota_page_store_hsql/diskquota.lck


/lab3/duckdb/duckdb.exe
/lab2/geoserver_data/gwc/diskquota_page_store_hsql/diskquota.script
/lab2/geoserver_data/gwc/diskquota_page_store_hsql/diskquota.data
/lab2/geoserver_data/security/usergroup/default/users.xml
/lab3/GeoJson.geojson
/lab2/geoserver_data/gwc/diskquota_page_store_hsql/diskquota.properties
/lab2/geoserver_data/security/usergroup/default/users.xml.orig
